<form action="/calculate" >
  <label for="length">length
    <input type="number" name="length">
  </label>
  <label for="width">width
    <input type="number" name="width">
  </label>
  <label for="height">height
    <input type="number" name="height">
  </label>
  <label for="weight">weight
    <input type="number" name="weight">
  </label>
  <label for="speed">speed
    <input type="text" name="speed">
  </label>
  <button type="submit" name="button">Calculate Shipping</button>
</form>
